<div class='card m-3' style='max-width: 540px;'>
  <div class='card-body'>
    <h5 class='card-title'>URL Shortener</h5>
  </div>
  <img
    src='https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png'
    class='card-img-bottom'
    alt='...'
  />
</div>

<div>
  <p>This is your short url : </p>
  <a
    href='{{shortURL}}'
    target='_blank'
    rel='noreferrer noopenner'
    id='shortURL'
  >{{shortURL}}</a>
</div>
<div>
  <button class='btn' id='copy-button' onclick='copy()'>Copy</button>
</div>

<script>
  function copy() { const shortURL =
  document.getElementById('shortURL').innerText
  navigator.clipboard.writeText(shortURL) .then(() => alert('Copied!'))
  .catch(error => console.log(error)) }
</script>